<div class='chat-room-form'>
  <h1>新規チャットルーム</h1>
  <%=form_with model: @room, local: true do |f|%>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :チャットルーム名, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%# form_withのブロック変数からフォーム部品を追加しているため、「room」キーの中に「name」キーが入る仕組み %>
        <%= f.text_field :name, class: 'chat__room_name chat-room-form__input', placeholder: 'チャットルーム名を入力してください'%>
      </div>
    </div>
    <div class='chat-room-form__field'>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <label class='chat-room-form__label' for='chat_room_チャットメンバー'>チャットメンバー</label>
      </div>
      <div class='chat-room-form__field--right'>
        <%# select要素はプルダウンのようなセレクトボックスを作成するための要素 %>
        <%# select要素のname属性に任意の値を指定することでparamsを通して、その値をコントローラーへ渡すことができる %>
        <%# 以下のname属性の記述によって送られるパラメーターは{"room" => {"user_ids" => ["選択したuser.id"]}} 2重ハッシュ構造になっている %>
        <select name="room[user_ids][]">
          <%# select要素の中に記述することでプルダウンの選択肢になる要素 %>
          <option value="">チャットするユーザーを選択してください</option>
          <%# モデル名.where("条件")と記述すると、条件に一致したレコードを配列として取得できる %>
          <%# モデル名.where.not("条件")は、条件に一致したレコード以外の値を配列として取得できる %>
          <% User.where.not(id: current_user.id).each do |user| %>
            <%# value属性で指定されたuser.idがname属性のroom[user_ids][user.id]として格納される %>
            <option value=<%= user.id %>><%= user.name %></option>
          <% end %>
        </select>
        <%# 以下の記述で、現在ログイン中のuserが持つidをparams"room[user_ids][]に追加で格納している %>
        <%# type属性にhiddenを指定することで、画面上には表示されないinput要素を作成できる %>
        <%# この記述の結果、コントローラーに送られるparamsは{"room" => {"user_ids" => ["選択したuser.id", "現在ログイン中のuser.id"]となる %>
        <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>
      </div>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'></div>
      <div class='chat-room-form__field--right'>
        <%= f.submit class: 'chat-room-form__action-btn'%>
      </div>
    </div>
  <% end %>
</div>
